body{
    background-image: linear-gradient(white, orange);
}


.contact-p {
    margin: 20px;
    padding-bottom: 20px;
}

.h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
