/* * Always set the map height explicitly to define the size of the div element
* that contains the map.  */
#map {
  height: 500px;
  width: 900px;

  right: 350px;
  border-color: black;
  border-width: 15px;
  border-radius: 25px;
  min-width: 500px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.8);
}

#mapWeatherdata {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 900px;
}

#pac-input {
  left: 315px;
  top: -375px;
}

#tripDetails {
  max-width: 100%;
}

.text-1st-block {
  font-size: larger;
}

/* stlying for slide show (lines 27-40) */
.image-slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

img {
  width: 100%;
}

.image .fade {

    animation-name: fade;
    animation-duration: 2s;
}

#pac-input::placeholder {
  color: white;
  font-size: 16px;
  font-style: italic;
 

}

#citySearchBtn {
    display: none;
  }

  .container {
    height: 900px;
  }

 .p-4 button {
    font-size: 50px;
    text-align: 'center';
    max-width: 600px;
    color: white;
    font-family:  "Raleway", "sans-serif";
  } 




/* screen sizing */

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}


