/* * Always set the map height explicitly to define the size of the div element
* that contains the map.  */
#map {
    height: 100%;
    height: 500px;
    width: 500px;
    margin: 75px;
    border-color: black;
    border-width: 15px;
    border-radius: 25px;
    min-width: 500px;

}

#mapWeatherdata {
    display: flex;
    flex-direction: row;
    justify-content: center;
}git 

#pac-input {
    width: 150px;
    height: 30px;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
}

.text-1st-block {
    font-size: larger;
}

/* stlying for slide show (lines 27-40) */
.image-slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

img {
    width: 100%
}


.image .fade {
    animation-name: fade;
    animation-duration: 3s;
}
